.App {
  text-align: center;
}

.gold-color {
  color: #eeddb1 !important;
}

#search-result .movie-div {
  width: 25%;
}

#nomination .movie-div {
  width: 50%;
}

form input {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

form button {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

#finish-alert {
  display: none;
}